$fg: rgb(20, 32, 56);
$bdrFg: rgba($fg, 0.3);
$fgDark: rgb(0, 0, 28);
$altFg: rgb(32, 56, 104);
$lightFg: rgb(96, 112, 164);
$bg: rgb(222, 232, 244);
$altBg: rgb(192, 202, 214);
$altBg2: rgb(150, 160, 174);
$alert: rgb(210, 35, 2);
$prime: rgb(32, 72, 160);
$charcoal: rgb(48, 30, 38);
$defence: rgb(18, 13, 49);
$family: rgb(158, 0, 89);
$health: rgb(245, 145, 10);
$immigration: rgb(48, 99, 142);
$farming: rgb(56, 102, 65);
$infrastructure: rgb(88, 62, 35);
$lawenforcement: rgb(4, 57, 94);
$pension: rgb(124, 106, 10);
$propaganda: rgb(243, 30, 2);