@use "sass:string";

@function calcDelay($num) {
  @return calc(($num / 10) + 0.1);
}

@for $i from 1 through 10 {
  $delay: calcDelay($i);
  .bounce#{$i} { animation: bounceUpDown 0.9s ease-out #{$delay}s; }
}
@keyframes bounceUpDown {
  0% {  transform: translate(0, 0); }
  10% { transform: translate(0, -52px); }
  20% { transform: translate(0, 0); }
  30% { transform: translate(0, -19px); }
  40% { transform: translate(0, 0); }
  50% { transform: translate(0, -7px); }
  60% { transform: translate(0, 0); }
  70% { transform: translate(0, -3); }
  80% { transform: translate(0, 0); }
  90% { transform: translate(0, -1); }
  100% { transform: translate(0, 0); }
}

@for $i from 1 through 10 {
  $delay: calcDelay($i);
  .rotate#{$i} {
    transform: rotateX(360deg) !important;
    transition: transform 0.6s ease-in-out #{$delay}s !important;
  }
}

@for $i from 1 through 10 {
  $delay: calcDelay($i);
  .jiggle#{$i} { animation: jiggleIt 0.1s 4 linear #{$delay}s; }
}
@keyframes jiggleIt {
  0% {  transform: translate(-1px, 0xp); }
  16.667% {  transform: translate(-3px, -1xp); }
  33.333% {  transform: translate(0px, -2xp); }
  50% { transform: translate(1px, 2px); }
  66.667% { transform: translate(3px, 4px); }
  82% { transform: translate(1px, 2px); }
  98% { transform: translate(0px, 0px); }
}

.grow {
  transition: transform 0.3s;
  transform: scale(1);

  &:hover {
    transition: transform 0.5s ease-in-out 0.2s;
    transform: scale(1.0125);

    &.grow2 { transform: scale(1.025); }
  }
}

.slideIn {
  animation: slideInFromLeft 0.9s ease-out 0.2s;
  animation-iteration-count: 1;
}
@keyframes slideInFromLeft {
  0% {  left: -100%; }
  60% { left: 5px; }
  70% { left: -5px; }
  75% { left: 3px; }
  80% { left: -2px; }
  85% { left: 1px; }
  90% { left: -1px; }
  100% { left: 0px; }
}

button[type="button"], button[type="submit"] {
  transition: transform 0.3s;
  transform: scale(1);

  &:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
  }
}

.fadeIn {
  opacity: 1;
}
.fadeOut {
  opacity: 0;
}