// @use "../var/color" as *;
@use "../var/media" as *;
@use "../var/page" as *;

.hero {
  $height: 300px;
  $gap-top: 1.5rem;
  $gap-left: 1.25rem;

  position: relative;
  width: 100vw;
  height: $height;
  box-shadow: 0px 5px 11px 0px rgba(52, 0, 0, 0.4);
  background-image: url("../img/dictator.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @media(max-width: $sm) { background-position: 56% center; }


  .constrain {
    position: relative;
    margin: 0 auto;
    padding: $gap-top 0 0;
    width: $pageWidth;
    max-width: $pageMax;
    height: 100%;
  
    @media(max-width: ($md - 1)) { width: $mdWidth; }
    @media(max-width: $sm) { width: $smWidth; }

    h1, .time-counter, h3, button {
      position: relative;
      z-index: 1;
    }

    h1 {
      font-size: 3.8rem;
      font-weight: 600;
      line-height: 1;
      color: white;

      @media(max-width: $sm) { font-size: 2.5rem; }
    }

    .time-counter {
      font-size: 1.5rem;
      font-weight: 500;
      color: white;

      @media(max-width: $sm) { font-size: 1.25rem; }
    }

    h3 {
      margin-top: 2.25rem;
      width: 50%;
      font-size: 1.5rem;
      font-weight: 500;
      color: white;

      @media (max-width: $sm) {
        width: 100%;
        font-size: 1.25rem;
      }
    }

    .controls {
      position: absolute;
      z-index: 1;
      bottom: $gap-top;
      right: $gap-left;
    }

    @media (max-width: $sm) {
      .time-count { font-size: 1.125rem; }
      .controls button { padding: 5px 15px; }
    }
  }
}

.explanation p {
  font-size: 1.125rem;
  font-weight: 500;
}