@use "../var/color" as *;
@use "../var/media" as *;
@use "../var/page" as *;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600&display=swap');


html { scroll-behavior: smooth; }

body {
  font: normal normal 400 16px/1.5 'fira sans', sans-serif;
  color: $fg;
}

main {
  margin: 2.0rem auto 1.0rem;
  width: $pageWidth;
  max-width: $pageMax;

  @media(max-width: ($md - 1)) { width: $mdWidth; }
  @media(max-width: $sm) { width: $smWidth; }
}

section {
  position: relative;

  .subheading {
    position: relative;
    height: 1.6rem;

    div {
      position: absolute;
    }
  }
}

small {
  font-size: 61%;
  color: $prime;
}