@use "../var/color" as *;

button[type="button"], button[type="submit"] {
  padding: 10px 30px;
  font-weight: 600;
  color: $fg;
  background-color: $bg;
  border: none;
  border-radius: 25px;

  &:nth-of-type(n+2) { margin-left: 0.75rem; }
}