@use "../var/media" as *;
@use "../var/color" as *;

.cards {
  $height: 380px;
  $labelHeight: 50px;
  $padding: 14px;
  $rotateBy: 180deg;

  gap: $padding;

  .ratio-card {
    flex: calc(25% - #{$padding * 3});
    position: relative;
    padding: $padding;
    height: $height;
    border: 1px solid $bdrFg;
    border-radius: 6px;
    transition: transform 0.5s ease-in;
    transform: rotateY(0);
    transform-style: preserve-3d;
    cursor: pointer;
    user-select: none;

    &:hover {
      border: 1px solid rgba(96, 48, 3, 0.125);
      box-shadow: -5px 5px 12px 1px rgba(96, 48, 3, 0.125),
                  -2px 2px 6px 1px rgba(64, 32, 1, 0.25 );
    }

    @media (max-width: $md) {
      flex: calc(50% - #{$padding});
      &.health { display: none; }
    }
    @media (max-width: $sm-md) { flex: 100%; }

    &.rotate {
      transition: transform 0.5s ease-out;
      transform: rotateY($rotateBy);
    }

    .front, .back {
      position: absolute;
      width: calc(100% - #{$padding * 2});
      background-color: white;
      backface-visibility: hidden;
    }
    .back {
      transform: rotateY($rotateBy);
      .info {
        padding-top: $padding;
        height: calc(#{$height} - #{$labelHeight * 2} - #{$padding * 2});
        p {
          margin-bottom: 0.5rem;
          font-weight: 500;
          line-height: 1.4;
          @media (min-width: ($md + 1)) and (max-width: $lg) { font-size: 0.9rem; }
        }
      }
    }

    .title {
      padding: 0 10px;
      width: 100%;
      height: $labelHeight;
      font-size: 1.333rem;
      font-weight: 500;
      text-align: left;
      color: white;
    }
    &.defence { .title, .data { background-color: $defence; } }
    &.family { .title, .data { background-color: $family; } }
    &.health { .title, .data { background-color: $health; } }
    &.immigration { .title, .data { background-color: $immigration; } }
    &.farming { .title, .data { background-color: $farming; } }
    &.infrastructure { .title, .data { background-color: $infrastructure; } }
    &.pension { .title, .data { background-color: $pension; } }
    &.lawenforcement { .title, .data { background-color: $lawenforcement; } }
    &.propaganda { .title, .data { background-color: $propaganda; } }

    .image {
      width: 100%;
      height: $height - ($labelHeight * 2) - ($padding * 2);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .data {
      color: white;
      background-color: $fg;

      div {
        padding: 0 10px;
        width: 100%;
        height: $labelHeight;
        font-size: 1.0625rem;
        font-weight: 500;
        color: white;

        &.cost { justify-content: right; }
      }
    }
  }
}