@use "../var/media" as *;
@use "../var/color" as *;

.charts {
  $gap: 15px;

  display: flex;
  flex-wrap: wrap;
  gap: $gap;

  .chart {
    width: calc(50% - (#{$gap} / 2));
    border: 1px solid $bdrFg;
    border-radius: 6px;

    @media (max-width: $sm-md) { width: 100%; }

    .chart-title {
      display: flex;
      align-items: center;
      padding-left: 10px;
      width: 100%;
      height: 40px;
      font-weight: 500;
      color: white;
      background-color: $fg;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    .chart-content {
      padding: 10px;
      height: 300px;
    }
  }
}