@use "../var/color" as *;
@use "../var/media" as *;
@use "../var/form" as *;

.budgetForm {
  padding: 10px;
  border: 1px solid $bdrFg;
  border-radius: 6px;

  #formError, .formFieldError {
    display: none;
    margin: 1.0rem 0 0 calc(#{$titleWidth} + #{$itemGap * 2});
    font-size: 1.125rem;
    font-weight: 600;
    color: $alert;

    @media (max-width: $md) { margin-left: calc(#{$titleWidth} + #{$itemGap}); }
    @media (max-width: $sm) { margin-left: 0; }
  }
  #formError { margin-bottom: 2.0rem; }
}

label {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 0;
  padding: 0.5rem 0;

  &[for=submitBudget] {
    margin-top: 0.5rem;
    @media (max-width: $sm) { .title { display: none; } }
  }

  @media (max-width: $md) { margin-left: 0; }
  @media (max-width: $sm) { flex-wrap: wrap; }
}
.title {
  margin: 0 $itemGap 0 0;
  width: $titleWidth;
  font-weight: 500;
  text-align: right;
  line-height: 1.0;

  @media (max-width: $md) { min-width: 20%; }
  @media (max-width: $sm) {
    margin-bottom: 0.375rem;
    width: calc(100%);
    text-align: left;
  }
}
input {
  padding: 10px;
  width: calc(#{$fieldWidth} - #{$itemGap});
  color: $fg;
  background-color: $bg;
  border: none;
  border-radius: 0.3rem;
  outline: none;

  &:focus { outline: 2px solid rgb(32, 32, 42); }

  @media (max-width: $md) { width: calc(100% - #{$titleWidth} - #{$iconSize} - #{$itemGap * 2}); }
  @media (max-width: $sm) { width: calc(100% - #{$iconSize} - #{$itemGap * 2}); }
}

#budgetForm .infoIcon {
  display: none;
  margin-left: $itemGap;
  padding: 0;
  width: $iconSize;
  height: $iconSize;
  font-weight: 800;
  color: $altBg;
  background-color: $altFg;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $bg;
    background-color: $fg;
  }

  @media (max-width: $md) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
label .info {
  margin-left: $itemGap;
  width: calc(100% - (#{$fieldWidth} + #{$titleWidth} + #{$itemGap * 2}));
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: $fg;

  @media (min-width: ($md - 1)) { display: block; }
  @media (max-width: $md) {
    display: none;
    opacity: 1;
    transition: opacity 0.6s linear;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $iconSize + $itemGap;
    padding: 10px;
    width: calc(100% - #{$iconSize + $itemGap});
    color: $altFg;
    background-color: $altBg;
    border: 5px solid $fg;
    border-radius: 6px;
  }
  @media (max-width: $sm) {
    right: calc(#{$iconSize + ($itemGap * 2)});
    padding: 10px;
    width: calc(100% - #{$iconSize + ($itemGap * 2)});
  }
}