@use "../var/color" as *;

#update-notice {
  display: none;
  padding: 1.5rem 0 0;

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: $alert;
  }

  p {
    margin-top: 0.5rem;
    font-weight: 500;
    color: $fg;
  }
}