@use "../var/color" as *;
@use "../var/media" as *;

#shade {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.75);
}
.fadeIn {
  display: block !important;
  animation: fade_in 1s;
}
@keyframes fade_in {
  0% {opacity:0;}
  100% {opacity:1;}
}
.fadeOut {
  display: block !important;
  animation: fade_out 0.6s;
}
@keyframes fade_out {
  0% {opacity:1;}
  100% {opacity:0;}
}

#shadeMsg {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  width: 90%;
  max-width: 600px;
  min-height: 120px;
  color: $fg;
  background-color: white;
  border: 10px solid $altFg;
  border-radius: 25px;

  p {
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 1.1;
  }

  img {
    display: block;
    width: 180px;
    height: auto;
    margin-top: 1.75rem;
  }

  @media (max-width: $sm) {
    width: 85%;
    p { font-size: 2.0rem; }
    img { width: 130px; }
  }
}