@use "../var/color" as *;
@use "../var/media" as *;

table {
  margin: 0;
  width: 100%;
  border: 1px solid $bdrFg;
}
th, td {
  padding: 6px;
  text-align: left;
}

th {
  font-weight: 600;
  color: $fg;
  background-color: $altBg2;
  border-left: 1px solid $bdrFg;
  border-bottom: 1px solid $bdrFg;
}

tr:nth-child(even) td {
  background-color: $altBg;
}

th, td { &:nth-child(n+2) { text-align: right; } }
td {
  position: relative;
  color: $fg;
  background-color: $bg;
  border-left: 1px solid $bdrFg;

  &:first-child {
    font-weight: 500;
    border-left: none;
  }

  .delta {
    display: block;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.national-data table tbody tr td:nth-child(3) { padding-right: 30px; }

.table {
  $padding: 6px;

  display: flex;
  margin: 0;
  width: 100%;
  border-top: 1px solid $bdrFg;
  border-left: 1px solid $bdrFg;

  @media (max-width: $sm) {
    flex-wrap: wrap;
    border-right: none;
  }

  .col.revenue { border-right: 1px solid $bdrFg; }

  .col {
    flex: 50%;

    @media (max-width: $sm) { flex: 100%; }

    .col-title {
      padding: $padding;
      font-size: 1.125rem;
      font-weight: 600;
      color: white;
      background-color: $fg;
      &:first-child { border-right: 1px solid $bdrFg; }
    }

    .col-wrap {
      display: flex;

      .col-12, .col-13 {
        &:nth-child(n+2) .row { justify-content: right; }

        .row {
          display: flex;
          align-items: center;
          padding: 0 $padding;
          width: 100%;
          height: 40px;
          line-height: 1.0;
          background-color: $bg;
          border-right: 1px solid $bdrFg;
          border-bottom: 1px solid $bdrFg;
  
          &.item-label { font-weight: 500; }

          &.body:nth-child(odd) {
            background-color: $altBg;
          }
        }

        .head, .foot {
          font-weight: 500;
          background-color: $altBg2 !important;
        }
      }

      .col-13 { flex: 33.333333%; }

      .col-12 { flex: 50%; }
    }
  }
}

.net-revenue {
  position: relative;
  top: 0.5rem;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.0;
  color: $prime;
}